[user]
	name = Sahil Talwar
	email = sahiltalwar88@gmail.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[pull]
	rebase = false
[color]
	ui = auto
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
# Machine-specific settings (e.g. WSL's Windows credential manager); git skips it when absent.
[include]
	path = ~/.gitconfig.local
